:root{
    --main-bg-color:#e2dcdc;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color:var(--main-bg-color);
}
nav ul{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0.5rem;
}
nav ul li a{
    color: white;
}
nav .logo{
    justify-content: end;
}
footer{
    height: 10vh;
    border-color: aqua;
    background-color: var(--main-bg-color);
}